/* CSS Document */

.card {
    text-align: center;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(175 175 175 / 75%);
    -moz-box-shadow: 0px 0px 5px 0px rgb(175 175 175 / 75%);
    box-shadow: 0px 0px 5px 0px rgb(175 175 175 / 75%);
    margin-bottom: 100px;
}

.card-img-top {
    height: 230px;
}

.breadcrumb {
    background-color: #ebebeb;
    padding: initial;

}

.img-home {
    width: 75px;
    height: 75px;
    padding: 14px;
    border-radius: 50%;
}
* {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 80px;
  height: 80px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 400px;
  height: 400px;
}
.InfoText {
  text-indent: 40px;
}
.a-size-base {
    font-size: 14px!important;
    line-height: 20px!important;
	font-weight: 700!important;
}
a-size {
    font-size: 10px!important;
    line-height: 10px!important;
	font-weight: 700!important;
}
.a-size-large {
    text-rendering: optimizeLegibility;
    font-size: 22px!important;
    line-height: 32px!important;
	word-break: break-word;
	font-weight: bold
}

.btn-color {
  padding: 8px 10px;
  background: #ff0000;
  border: 1px solid #d7d7d7;
  border-radius: 20%;
}

.btns-color {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-top: 5px;
}

.radio-color {
  margin-right: 3px;
}

.myresult-position {
  position: absolute;
  top: 165px;
  right: 110px;
  z-index: -1;
  opacity: 0;
}

.myresult-position-show {
  opacity: initial;
  z-index: 1;
}
